<table class="table table-hover" id="list">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Delete</th>   
    </tr>
  </thead>
  <tbody>

    <% @todos.each do |i| %>
      <div class="container">
        <p>S.No <%=i.id%></p>
        <p>Task <%=i.task%></p>
        <p>Description <%=i.description%></p>
        <p>Status
        <% if i.status==false%>
        <a href="/complete/<%=i.id%>"><button class="btn btn-outline-warning my-2 my-sm-0">Not Done</button></a>
        <% else%>
          <button class="btn btn-outline-primary my-2 my-sm-0" style="cursor:not-allowed">Done</button>
       <%end%>
       </p>
       <p>Due Date
        <%if i.date==Date.today %>
          Today
          <%else%>
            <%=i.date%>
        <%end%>
       </p>
      </div>
      <%end%>
  </tbody>

  <script>
    function delTask(id) {
      alert("Confirm");
      window.location.href = "/delete/" + id;
    }
  </script>